.header {
  background-color: #1F2937;  
  display: flex;
  justify-content: space-between;
  
  
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding-left: 150px;
    padding-top:15px ;
}

.link-container {
    padding: 15px;
    margin-right: 40px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
}

a {
font-size: 18px;
color: #e5e7eb;
text-decoration: none;
padding: 10px;
padding-top: 15px;


}

.first {
    background-color: #1F2937;
    display: flex;
    padding: 150px;
    justify-content: space-around;
    gap: 30px
   
    
}

.bold-text {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bold;
    display: flex;

}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    
}

button {
    background-color:#3882F6;
    border: 0px;
    color: white;
    font-weight: bold;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 6px;
    margin-top: 10px;
    
    
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}



.img1 {
    width: 500px;
    height: 300px;
}

.blue-corners {
width: 200px;
height: 200px;
border: solid #3882F6;
border-radius: 8px;
margin-bottom: 8px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold-info {
font-size: 36px;
color: 1f2937;
font-weight: bolder;
display: flex;
margin-top: 40px;
margin-bottom: 40px;
}
.container2 {
display: flex;
gap: 20px;
}

.img-cap {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 200px;
}

.third {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    /* margin-right: 100px;
    margin-left: 100px; */
    width: 800px;
    align-self: center;
}

.name {
   font-size: 20px;
   font-weight: bold; 
   margin-top: 10px;
   display: flex;
   justify-content: flex-end;
}

.blue-box {
    background-color: #3882F6;
    margin: 100px;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.encouragement {
    color: white;
    font-weight: bolder;
}

.sign-up {
    color: #e5e7eb;
}

.white-border {
    border: solid white;
    margin-right: 60px;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 30px;
    text-align: center;
}

.img-subtext{
    text-align: center
}